.searchContainer {
  display: flex;
  column-gap: 1rem;
  width: 20%;
  align-items: center;
}
.searchBar {
  font-size: 25px;
}
.filterWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* border: 3px solid red; */
  margin-bottom: 0.5rem;
  width: 80%;
}
